.contentForm{
    display:flex;
    flex-direction: column;
    width:50%;
    margin: 15px auto;
}

.contentForm h2 {
    text-align: center;
}
.error{
    font-size: 11px;
    color: crimson;
    margin: 0;
    padding: 0px 2px;
    padding-bottom: 10px;
}

.itemData{
    margin:5px 0;
    height:30px;
}

@media (min-width:600px){
    .contentForm{
        width:33%;
    }
}

ErrorMessage {

}